$colors: (
	'main': hsl(67, 33%, 75%),
	'secondary': hsl(108, 32%, 15%),
	'black': hsl(0, 0%, 20%),
	'white': hsl(0, 0%, 100%)
);
$grid-breakpoints: (
	xs: 0,
	sm: 640px,
	md: 961px,
	lg: 1200px,
	xl: 1599px,
	xxl: 1920px,
);
$grid-columns: 24;
$grid-gutter-width: 8px;
$time: 300ms;
