.fade-enter-active,
.fade-leave-active {
	transition: opacity $time;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.header-enter-active,
.header-leave-active {
	transition: transform $time;
}

.header-enter,
.header-leave-to {
	transform: scaleY(0);
}
